.logo{
    display: block;
    margin:auto;
    width: 100px;
    height: 50px;
}
body{
   margin:0;
   padding:0
}
.container{
    max-width:955px;
    background-color: blueviolet;
    margin:auto;
    height: 60vh;
    padding:33px;
    overflow-y: auto;
    margin:auto

}
.message{
background-color: rgb(186, 181, 181);
width:24%;
margin:17px 3px;
padding:10px;
border: 2px solid black;
border-radius: 3px;
}
.left{
float:left;
clear:both
}
.right{
float:right;
clear:both
}
#send-container{
    text-align: center;
    max-width: 500px;
    width:100%;
    display:block;
    margin:auto;
}

#messageInp{
    width:84%;
    border:2px solid black;
    border-radius: 6px;
    height:34px
}
.btn{
    border:2px solid black;
    cursor: pointer;
    border-radius: 6px;
    height:34px;
    

}